@import 'clrs';
@import 'variables';
@import 'bootstrap';
@import "font-awesome";
@import '_modules/*';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);

img {
  @extend .img-responsive;
  margin: 5px auto;
}


body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: $black;
  background: url("../images/cream.png")
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: $ceramic;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover, &:focus {
    text-decoration: none;
    color: $ceramic;
  }
}

#site-header {
  color: $ceramic;
  height: 80px;
  padding-top: 1%;
  text-transform: uppercase;
  /*border-bottom: 5px solid $depnmilk;*/
  h3 {
    font-size: 28px;
    letter-spacing: 4px;
    margin-bottom: 1%;
  }
  h4 {
    font-weight: 200;
  }

  i{
    font-size: 60px;
  }
  .container {
    max-width: 940px;
  }
}

@media (max-width: 768px) {
  #site-header {
    h3 {
      font-size: 20px;
      letter-spacing: normal;
    }
    h4 {
      font-size: 14px;
    }
    i {
      font-size: 30px;
    }
  }
}

@media (max-width: 991px) {
  #site-header {
    h3 {
      font-size: 20px;
      letter-spacing: normal;
    }
    h4 {
      font-size: 14px;
    }
    i {
      font-size: 30px;
    }
  }
}

footer {
  margin-top: 100px;
  background: url('../images/blue.jpg') no-repeat bottom center;
}

#nav {
  background: url('../images/blue.jpg') no-repeat bottom right;
}

#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.light {
  font-weight: 400;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  
  text-align: center;
  vertical-align: middle;
}
.navbar-static {
  border-radius: 0;
}
.navbar-brand {
  margin-top: -10%;
  max-width: 60%;
  padding: 0;
}

.brown1 {
  max-width: 70%;
}
.navbar-text {
  color: $ceramic;
}

.navbar-custom {
  a {
    color: $ceramic;
  }
  .nav li {
    a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      &:hover, &:focus {
        outline: 0;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    &.active {
      outline: 0;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 20px;
  color: $ceramic;
  &:focus, &:active {
    outline: 0;
  }
}

.navbar {
  .nav-container{
    max-width: 940px;
  }
}


@media (min-width: 767px) {
  .navbar {
    letter-spacing: 1px;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .top-nav-collapse {
    background-color: $depnblue;
  }
  .navbar-custom.top-nav-collapse {
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
  }

  .navbar-nav {

  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
  }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/city.jpg) no-repeat bottom center fixed;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    img {
      padding-top: 15%;
      width: 30%;
    }
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;

        img {
          padding-top: 5%;
        }
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.fadein.load {
  opacity: 1;
}

.fadein {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}



.content-section {
  padding-top: 180px;
}

.map {
  margin-left: -5%;
}

#map {
  width: 100%;
  height: 200px;
  box-shadow: -2px 2px 5px 1px rgba(255, 255, 255 , 0.7);
}

@media (min-width: 767px) {

  #map {
    height: 350px;
  }
}

#contact {
  h2 {
    font-weight: 200;
    
  }

  address {
    margin-top: 20%;
    vertical-align: middle;
  }
}

@media (max-width: 767px) {
  #contact {
    address {
      margin-top: 2%;
    }
  }
}



#about {
  h2 {
    font-weight: 200;
  }
}

#service {
  h2 {
    font-weight: 200;
  }

  .panel {
    color: $ceramic;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  border: 1px solid #28c3ab;
  color: #28c3ab;
  background-color: transparent;
  &:hover, &:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
  }
}

.btn-huge {
  padding: 25px;
  font-size: 26px;
}

.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}

img {
  &::selection, &::-moz-selection {
    background: 0 0;
  }
}

body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}


footer {
  padding-top: 2%;
  padding-bottom: 1%;
  color: $gray;
  font-weight: 600;
  font-size: 14px;

  a {
    color: $gray;
    &:visited {
      color: $gray;
    }
    &:active {
      color: $gray;
    }
    &:hover {
      color: $gray;
    }
    &:link {
      color: $gray;
    }
  }
  hr {
    border: 1px solid $gray;
  }

  .go-right {
    text-align: right;
  }
}