%header#site-header
  .container
    .row
      .col-lg-2
        %i.fa.fa-play-circle
      .col-lg-8
        %h1.text-center
          Департамент недвижимости
        %h4.text-center
          второй московской городской коллегии адвокатов