%header#site-header.bg-taupe
  .container
    .row
      .col-xs-2
        %i.fa.fa-legal
      .col-xs-8
        %h3.text-center
          Департамент недвижимости
          
        .text-center.lead  второй московской городской коллегии адвокатов