#nav.fadein 
  .navbar.navbar-custom.navbar-static{role: "navigation"}
    #site-header
      .container
        .row
          .col-xs-2.page-scroll
            %a.navbar-brand.logo1{href: "#page-top"}
              = image_tag "../images/brown1.png"
          .col-xs-8
            %h3.text-center
              Департамент недвижимости
            %h4.text-center  
              второй московской городской коллегии адвокатов  
          .col-xs-2.page-scroll
            %a.navbar-brand.logo2{href: "#page-top"}
              = image_tag "../images/brown2.png"

    .container.nav-container
      .navbar-header.page-scroll
        %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", type: "button"}
          %i.fa.fa-bars
      /
        %a.navbar-brand{href: "#about"}
          = image_tag "../images/logo1alfa.png"
  
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-right.navbar-main-collapse
        %ul.nav.navbar-nav
          / Hidden li included to remove active class from about link when scrolled up past about section
          %li.hidden
            %a{href: "#page-top"}
          %li.page-scroll
            %a{href: "#about"} О компании
          %li.page-scroll
            %a{href: '#service'} Услуги
          %li.page-scroll
            %a{href: "#contact"} Контакты

      / /.navbar-collapse
    / /.container