%section.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading Dep-n
          %p.intro-text Styling starts here
          .page-scroll
            %a.btn.btn-circle{href: "#about"}
              %i.fa.fa-angle-double-down.animated

%section#about.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 About Us
      %p Коллегия адвокатов. *Ждем текст*
      %p *По прежнему ждем текст*
      %p Все впереди. 


%section#contact.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 Наши контакты
      %p адрес. телефон. bb
      %p dep-n.ru
      %ul.list-inline.banner-social-buttons
        %li
          %a.btn.btn-default.btn-lg{href: "#"}
            %i.fa.fa-twitter.fa-fw
            %span.network-name Twitter
        %li
          %a.btn.btn-default.btn-lg{href: "#"}
            %i.fa.fa-github.fa-fw
            %span.network-name Github
        %li
          %a.btn.btn-default.btn-lg{href: "#"}
            %i.fa.fa-google-plus.fa-fw
            %span.network-name Google+

#map
  %iframe{frameborder: "0", height: "450", src: "https://www.google.com/maps/embed/v1/place?q=%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F%2C%20%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%20%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%20%D0%9A%D0%BE%D0%BC%D1%81%D0%BE%D0%BC%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82%2042%203&key=AIzaSyD0LqlAIUEthIBC2fvBOmpwHOGSmVM-0Iw", style: "border:0", width: "600"}