= content_for :title do
  Департамент недвижимости второй московской городской академии адвокатов


%section.intro.content-section#about
  .container
    .row
      .col-sm-12
        %h2.text-center 
          О компании
          %hr
      .col-sm-8
        %p.lead
          Департамент недвижимости является структурным подразделением Второй Московской городской коллегии адвокатов. 
        %p.lead 
          Коллегия состоит из высокопрофессиональных адвокатов и специалистов, оказывающих юридическую помощь в административном, гражданском, арбитражном и уголовном судопроизводстве. 
        %p.lead
          Коллегия осуществляет представление интересов как юридических, так и физических лиц.
      .col-sm-4
        %img{src: "http://placehold.it/350x150"}
        %img{src: "http://placehold.it/350x150"}
      .col-sm-12
        %hr



%section.intro.content-section#service
  .container
    .row
      .col-sm-12
        %h2.text-center 
          Услуги
          %hr
      .col-sm-6
        %ul.list-unstyled
          %li
            %i.fa.fa-angle-right
            Профессионально, оперативно, надежно решим Ваши проблемы с любой недвижимостью Москвы и Подмосковья. Бесплатныe консультации.
          %br  
          %li
            %i.fa.fa-angle-right
            Бесплатный выезд эксперта по указанному Вами адресу объекта. Индивидуальный подход. Опытные специалисты.      
      .col-sm-6
        %ul.list-unstyled
          %li
            %i.fa.fa-angle-right
            Приватизация. Вступление и оформление наследства. Сложные и спорные ситуации.
          %br  
          %li
            %i.fa.fa-angle-right
            Квалифицированное представительство в судах. Прописка, выписка и другие вопросы.
          %br
          %br

      .col-sm-8.col-sm-offset-2
        %ul.lead.list-unstyled
          .text-center.bg-info 
            Дополнительно:
          %br
          %li 
            %i.fa.fa-paperclip
            Новостройки Москвы и Московской области. Вторичное жилье. Купля - продажа квартир, комнат, долей.
          %li
            %i.fa.fa-paperclip
            Дачи, загородные дома. Земельные участки.
          %li
            %i.fa.fa-paperclip
            Вся коммерческая недвижимость.
            Бесплатные консультации!
      .col-sm-12
        %hr      




%section#contact.container.content-section
  .container  
    .row
      .col-sm-12
        %h2.text-center 
          Контактная информация
          %hr
      .col-sm-8
        #map

      .col-sm-4
        %address
          %ul.list-unstyled
            %li 
              %strong 
                %i.fa.fa-home
                Адрес:
              %dd 
                119048 
                %br Комсомольский прoспект 42, стр. 3, офис 5 
                (Вход со стороны улицы Кооперативной) 
            %br  
            %li 
              %strong
                %i.fa.fa-phone
                Телефоны:
              %dd+7 (926) 994-53-92 
              %dd+7 (926) 994-54-79

      .col-sm-12
        %hr

