%section.intro
  .intro-body
    #dot-matrix.fadein
      .container
        .row
          .col-xs-9
            %h1.brand-heading Департамент недвижимости 
            %p.intro-text второй московской городской коллегии адвокатов
          .col-xs-12.col-sm-1
            .page-scroll.text-center
              %a.btn.btn-circle{href: "#about"}
                %i.fa.fa-angle-double-down.animated
  }

%section.intro-motto.text-center.bg-taupe
  .container
    .row
      .col-lg-12
        %h3 Ваша недвижимость в надежных руках

%section#about.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      %h2 О компании
      %p Коллегия адвокатов. *Ждем текст*
      %p *По прежнему ждем текст*
      %p Все впереди. 
}


%section#contact.container.content-section
  .row
    .col-lg-12
      %h2.text-center Контактная информация
    .col-xs-6.col-xs-offset-1
      #map
    .col-xs-4.col-xs-offset-1
      %p.contact
      %br
        %b Адрес:
        Уличная ул. д3, 57, РФ
      %br
        %b Телефон:
        8-(534)-434-44-44
      %br
        %b Email:
        frfrfr@mail.ru