%section.intro.content-section#about
  .container
    .row
      %h2.text-center О компании
      .col-sm-4
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla tellus non elementum auctor. Aenean erat mauris, scelerisque et semper ac, egestas a eros. Pellentesque sem justo, egestas in lectus eu, vulputate blandit tellus. Nunc sapien tortor, suscipit ut auctor eget, sagittis id libero. Nullam gravida, nulla ac cursus ornare, elit est molestie enim, eget pulvinar nisi elit dignissim arcu. Aenean nisl lectus, elementum eget enim non, blandit vestibulum nunc. Maecenas blandit consectetur vehicula. Pellentesque ultricies nisl tristique arcu ornare, dignissim faucibus mauris eleifend. Nam cursus gravida augue at varius. Praesent rhoncus nunc nec mauris gravida rutrum. Sed est dolor, facilisis at fringilla et, ullamcorper vel nibh. Morbi sed tristique erat. Phasellus pretium iaculis est, a sodales metus tincidunt sed.
      .col-sm-4
        Cras pretium rutrum ipsum, sit amet varius magna tincidunt a. Vestibulum sollicitudin fermentum risus quis venenatis. Suspendisse sed luctus tellus. Phasellus eleifend tellus nunc, eget imperdiet risus vehicula a. Praesent rhoncus nunc nec mauris gravida rutrum. Sed est dolor, facilisis at fringilla et, ullamcorper vel nibh. Morbi sed tristique erat. Phasellus pretium iaculis est, a sodales metus tincidunt sed.Maecenas faucibus mi tellus, non tempus orci tempor sit amet. Proin vulputate hendrerit orci, pellentesque molestie lectus tincidunt vitae. Proin erat massa, placerat a placerat eget, tempus ut enim. Vivamus adipiscing tristique sem nec aliquet. Etiam feugiat quam nec mauris porttitor semper. Etiam convallis, erat quis tempor consectetur, dui est consectetur est, sed malesuada turpis nunc a risus. Morbi sit amet viverra nisl, ut iaculis lorem. Pellentesque diam nisi, sollicitudin vitae vulputate ac, aliquet non justo.
      .col-sm-4
        %img{src: "http://placehold.it/350x150"}
        %img{src: "http://placehold.it/350x150"}
}



%section#contact.container.content-section
  .container  
    .row
      %h2.text-center Контактная информация
      .col-xs-8
        #map

      .col-xs-4
        %address
          %ul.list-unstyled
            %li 
              %strong 
                %i.fa.fa-home
                Адрес:
              %dd 
                119048 
                %br Комсомольский прoспект 42, стр. 3, офис 5
            %br  
            %li 
              %strong
                %i.fa.fa-phone
                Телефон:
              %dd+7 (926) 994-53-92 
              %dd+7 (926) 994-54-79


